/*
==================================
          BASES STYLES
==================================
*/

@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Enriqueta');

*{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Chicle', cursive;
  font-size: 27px;
}

h2, h3, h4, h5{
  font-family: 'Enriqueta', serif;
  font-weight: 400;
}

p, a{
  font-family: 'Quicksand', sans-serif;
}
section{
  margin: 10px 20px;
}

/*
==================================
          HEADER STYLES
==================================
*/

header{
  height: 60px;
  display: flex;
  align-items: center;

  nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    margin: 20px;

    h1{
      color: #2980b9;
      cursor: pointer;
    }

    ul{
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 150px;
      align-items: center;

      li{
        a{
          text-decoration: none;
          color: black;
          transition: .3s ease;
          position: relative;

          &:before{
            content: '';
            transition: .3s ease;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%) scaleX(0);
            width: 100%;
            height: 2px;
            background: #2980b9;
          }

          &:hover{
            color: #2980b9;

            &:before{
              transform: translateX(-50%) scaleX(1);
            }
          }
        }
      }
    }
  }
}

/*
==================================
         ARTICLES STYLES
==================================
*/

section{
  h2{
    margin: 10px 0;
  }
  > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  article{
    min-width: 350px;
    width: 350px;
    height: 420px;
    margin: 10px 0;
    position: relative;
    cursor: pointer;

    div{
      height: 250px;
      position: relative;
      overflow: hidden;

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    a{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      text-indent: -9999px;
    }

    h3{
      margin: 7px;
    }

    p{
      max-height: 0;
      overflow: hidden;
      transition: .4s cubic-bezier(0.4, 0, 1, 1);
      font-size: 14px;
      margin: 7px;
    }

    &:hover{
      box-shadow: 1px 4px 20px 0px;
      p{
        max-height: 70px;
      }
    }
  }
}

/*
==================================
         FORM STYLES
==================================
*/

form{
  text-align: center;

  input{
    padding: 3px 5px;
    border-radius: 3px;
  }

  button{
    color: white;
    padding: 3px 5px;
    border: none;
    background: #2980b9
  }
}

/*
==================================
         FOOTER STYLES
==================================
*/

footer{
  text-align: center;
  height: 50px;
}
